{% extends 'core/base.html' %}

{% block title %}Search Listings{% endblock %}

{% block content %}
    <header>
        <h1>Apartment Finder</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'search-listings' %}">Search</a>
        </nav>
    </header>

    <main>
        <h1>Search Results for "{{ query }}"</h1>
        <ul>
            {% for listing in listings %}
                <li>
                    <a href="{% url 'listing-detail' listing.pk %}">{{ listing.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </main>

    <footer>
        <p>&copy; 2024 Apartment Finder</p>
    </footer>
{% endblock %}
